* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Arial;
}

body {
  font-family: Arial;
  color: #501006;
  background: #ffffff;
  line-height: 1.6;
}

header {
  background-color: #ffffff;
  color: #501006;
  padding: 8px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 1px 10px #501006;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.logo span {
  font-size: 20px;
  font-weight: bold;
  background: linear-gradient(to right, #603419, #d39e46);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav ul li a {
    font-size: 15px;
    transition: 0.3s;
    color: #501006;
    text-decoration: none;
}

nav ul li a:hover {
    color: #501006;
}

.btn-daftar {
    background-color: #501006;
    color: #fff;
    padding: 6px 14px;
    border-radius: 6px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-daftar:hover {
    background-color: #603419;
    color: #ffffff;
}

.hero {
    color: #fff;
    background: url("assets/herobg2.png");
    width: 100%;
    height: 251px;
    position: relative;
}

.hero h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    font-size: 40px;
    font-weight: bold;
}

.hero p {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
}

.margin-ulasan {
  padding: 50px 0px 40px;
}

.ulasan {
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin: 8px 0px;
  background: #fff;
}

.ulasan-reverse {
  display: flex;
  flex-direction: row-reverse;
  padding: 0px;
  margin: 8px 0px;
  background: #fff;
}

.ulasan-reverse .ulasan-wrapper {
  flex-direction: row-reverse;
}

.ulasan-reverse .ulasan-info img {
  margin-left: 0;
  margin-right: -60px;
}

.ulasan-reverse .ulasan-info h2 {
  left: auto;
  left: 20px;
}

.ulasan-cards {
  width: 100%;
}

.ulasan-wrapper {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

.ulasan-info {
  position: relative;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.ulasan-info img {
  width: 452px;
  height: 286px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  margin-bottom: 10px;
}

.ulasan-info h2 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  color: #fff;
  font-size: 20px;
  text-shadow: 0 2px 4px rgba(0,0,0,0.4);
}

.btn-baca {
  position: absolute;
  background: #fff;
  bottom: 25px;
  right: 20px;
  color: #501006;
  padding: 6px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: fit-content;
  transition: 0.3s;
}

.btn-baca:hover {
  background: #702010;
}


.ulasan-container {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 15px;
  scroll-behavior: smooth;
}

.ulasan-container::-webkit-scrollbar {
  height: 0;
  display: none;
}

.card-container {
  background: #fff;
  width: 345px;
  min-width: 345px;
  height: 194px;
  margin-top: 25px;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(109, 44, 44, 0.438);
  color: #501006;
  transition: 0.2s ease;
  flex-shrink: 0;
}

.card-container:hover {
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}

.card-container p {
  font-size: 12px;
  margin-bottom: 15px;
  line-height: 14px;
}

.card-container > img {
  width: 100%;
  margin-bottom: 10px;
}

.populer-profil {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.populer-profil img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.populer-profil h4 {
  font-size: 12px;
  font-weight: bold;
}

.footer {
    background-color: #5a0d06;
    color: #fff;
    padding: 30px 40px;
    font-family: Arial;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}

.footer-left {
    display: flex;
    flex-direction: column;
}

.footer-sections-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    border-bottom: 1px solid #bdaaaa;
    padding-bottom: 20px;
    flex: 1;
}

.footer-logo img {
    margin-top: 20px;
    background-color: #fff;
    width: 194px;
    height: 194px;
    border-radius: 50%;
    object-fit: cover;
}


.footer-section h3 {
    font-style: bold;
    margin-bottom: 10px;
    font-size: 24px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    font-style: normal;
    opacity: 0.8;
    margin-bottom: 6px;
    font-size: 15px;
}

.footer-section p {
    margin: 5px 0;
    font-size: 14px;
}

.footer-desc {
    margin-top: 15px;
    font-size: 13px;
    line-height: 1.5;
    max-width: 900px;
}